:root {
    --primary: #1e90ff;
    --secondary: #397abb;
    --white: #ffffff;
    --gray: #666;
    --dark: #333;
    --success: rgb(39, 180, 34);
}

* {
    margin: 0; padding: 0;
    outline: none; text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 82%;
}

body {
    display: flex;
    align-items: center; justify-content: center; flex-direction: column;
    margin: 20px;
    background: #222;
    color: var(--white);
}

#_list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.item {
    width: 200px; height: 100%;
    padding: 10px; margin: 10px;
    text-align: center;
    background: #222;
    border: 2px solid var(--dark);
    display: none;
}

.item.is-visible {
    display: block;
}

.item p, .item span {
    margin: 10px 0;
}

.item .buttons {
    display: flex;
    justify-content: center;
}

.item .buttons button {
    background: var(--primary);
    color: var(--white);
    padding: 5px 10px; margin: 5px 10px;
    border: none;
    border-radius: 4px;
}

.item .buttons button:hover {
    background: var(--primary);
    transition: all .6s;
    cursor: pointer;
}

.search {
    width: 200px;
    background: var(--gray);
    padding: 6px; margin: 10px;
    border: none; border-radius: 2px;
}

.show {
    background: var(--primary);
    color: var(--white);
    padding: 5px 10px; margin: 5px 10px;
    border: none;
    border-radius: 4px;
}

.show:hover {
    background: var(--primary);
    transition: all .6s;
    cursor: pointer;
}

.modal {
    display: none;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background: rgba(133, 129, 129, 0.166);
    justify-content: center;
    align-items: center;
}

.modal .minicart {
    background: #FFF;
}
.modal .minicart  ._minicart-items .cart-item {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.modal .minicart  ._minicart-items span {
    color: #333;
    margin: 20px;
}

.modal .minicart .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: var(--white);
    border-top: 1px solid var(--gray);
    text-align: end;
}

.modal .minicart .footer span {
    color: var(--dark);
}

.modal .minicart .footer .btn {
    background: var(--success);
    color: var(--gray);
    padding: 5px 10px; margin: 5px 10px;
    border: none;
    border-radius: 4px;
}

.modal .minicart .footer .btn a {
    color: #FFF;
}

:root {
    --primary: #1e90ff;
    --secondary: #397abb;
    --white: #fff;
    --gray: #666;
    --dark: #333;
}

* {
    margin: 0; padding: 0;
    outline: none; text-decoration: none;
    box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white);
}

html {
    font-size: 62%;
}

body {
    background: var(--dark);
}

.background{
    background-image: linear-gradient(to right, green, rgb(39, 174, 97) 50%, green);
    width: 100%;
    height: 100%;
    position: fixed;
}

.title{
    margin-top: 5%;
    margin-left: 5%;
}

.cart{
    position: fixed;
    top: 3%;
    right: 5%;
    background-color: rgba(29,126,70,50);
    border-radius: 50%;
    border-color: #ffffff;
    width: 50px;
    height: 50px;
}

.cart img{
    height: 30px;
    width: 30px;
}

.search{
    margin-top: 15%; 
    margin-left: 5%;
    width: 90%;
    border-radius: 40px;
    color: black;
    padding: 5px;

}
.submit{
    margin-top: 15%;
    margin: 3px 0px 0px -10% ;
    cursor: pointer;
    border: none;
    border-radius: 0px 40px 40px 0px;
    height: 100%; 
}

.submit img{
    background-color: rgba(0,0,0,0);
}



.content{
    margin-top: 10%;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    padding: 5%;
    margin-bottom: 10%;
    overflow-y: scroll;

}



.search-box {
    display: flex;
    align-items: center;
    background: #ddd;
    width: 90%;
    height: 5%;
    padding: .5rem .6rem;
    border-radius: .4rem;
    cursor: pointer;
    margin-left: 5%;
    margin-top: 10%;
}

.search-box input {
    color: black;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    display: block;
    transition: all .8s;
    padding-left: 5%;
}
.search-box img {
    width: 1.6rem;
}


.content h1{
    color: black;
    font-size: 30px;
    padding-top: 5%;
}

.content div{
    display: block;
    color: black;
    margin: 5%;

}

.categoria{
    width: 90%;
    height: 15%;
    border-radius: 20px;
}

.categoria p{
    padding-left: 10px;
    padding-top: 10px;
    font-size: 25px;
}


.modal{
    z-index:3;
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgb(0,0,0);
    background-color:rgba(0,0,0,0.4);
}

.modal-content{
    color: black;
    padding-top: 50%;
    margin:auto;
    background-color:#fff;
    position:relative;
    padding:0;
    outline:0;
    width:95%;
}

.container{
    padding:0.01em 16px;
    color: black;
}

.container p{
    color: black;
}

.w3-display-topright{
    position:absolute;
    right:0;
    top:0
}

.w3-btn,.w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}







.footer{
    display: flex;
    background-image: linear-gradient(to bottom, green, rgb(39, 174, 97) 50%, green);
    border-radius: 40px 40px 0px 0px;
    position: fixed;
    bottom: 0px;
    left: 35%;
    width: 30%;
    height: 8%;
}

