:root {
    --primary: #1e90ff;
    --secondary: #397abb;
    --white: #ffffff;
    --gray: #666;
    --dark: #333;
    --success: rgb(39, 180, 34);
}

* {
    margin: 0; padding: 0;
    outline: none; text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    font-size: 82%;
}

body {
    display: flex;
    align-items: center; justify-content: center; flex-direction: column;
    margin: 20px;
    background: #222;
    color: var(--white);
}

#_list-products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.item {
    width: 200px; height: 100%;
    padding: 10px; margin: 10px;
    text-align: center;
    background: #222;
    border: 2px solid var(--dark);
    display: none;
}

.item.is-visible {
    display: block;
}

.item p, .item span {
    margin: 10px 0;
}

.item .buttons {
    display: flex;
    justify-content: center;
}

.item .buttons button {
    background: var(--primary);
    color: var(--white);
    padding: 5px 10px; margin: 5px 10px;
    border: none;
    border-radius: 4px;
}

.item .buttons button:hover {
    background: var(--primary);
    transition: all .6s;
    cursor: pointer;
}

.search {
    width: 200px;
    background: var(--gray);
    padding: 6px; margin: 10px;
    border: none; border-radius: 2px;
}

.show {
    background: var(--primary);
    color: var(--white);
    padding: 5px 10px; margin: 5px 10px;
    border: none;
    border-radius: 4px;
}

.show:hover {
    background: var(--primary);
    transition: all .6s;
    cursor: pointer;
}

.modal {
    display: none;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    background: rgba(133, 129, 129, 0.166);
    justify-content: center;
    align-items: center;
}

.modal .minicart {
    background: #FFF;
}
.modal .minicart  ._minicart-items .cart-item {
    display: grid;
    grid-template-columns: repeat(3, 200px);
}

.modal .minicart  ._minicart-items span {
    color: #333;
    margin: 20px;
}

.modal .minicart .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: var(--white);
    border-top: 1px solid var(--gray);
    text-align: end;
}

.modal .minicart .footer span {
    color: var(--dark);
}

.modal .minicart .footer .btn {
    background: var(--success);
    color: var(--gray);
    padding: 5px 10px; margin: 5px 10px;
    border: none;
    border-radius: 4px;
}

.modal .minicart .footer .btn a {
    color: #FFF;
}